<header class="p-4">
    <nav class="navbar  navbar-expand-lg">
        <a class="navbar-brand" href="#">Foro</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="container-fluid navbar-nav">
                <li class="navbar-item"><button id="make-post-btn" class="btn btn-dark">Crear Post</button></li>
                <li class="navbar-item"><a class="btn" href="#">Home</a></li>
                <li class="navbar-item"><a class="btn" href="#">Tendencias</a></li>
                <li class="navbar-item"><a class="btn" href="#">Mi perfil</a></li>
                <li class="navbar-item"><button class="btn">salir</button></li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-outline-dark mx-1" type="submit">Discusiones</button>
                <button class="btn btn-outline-dark mx-1" type="submit">Usuarios</button>
            </form>
        </div>
    </nav>
</header>